* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cabinet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cabinet-box {
  display: flex;
  align-items: flex-end;
  background: #9BB8E9;
  width: 370px;
  border-radius: 3px;
  padding: 30px;
  color: #fff;
}

.cabinet-box__photo {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 0 0 auto;
}

.cabinet-box__user-name {
  font-size: 19px;
  font-weight: bold;
  max-width: 200px;
  width: 100%;
  margin: 0 0 15px;
}

.cabinet-box__contacts {
  margin: 0 0 73px;

  a {
    display: block;
    color: #fff;
    font-size: 16px;
  }
}

.links-edit {
  color: #fff;
  font-size: 14px;

  &:hover {
    color: #000;
  }
}

.cabinet-index-menu__links {
  background: #F2F5FA;
  border-radius: 3px;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #58595B;
  font-size: 16px;
  transition: .3s ease;
  padding: 58px 25px 30px;

  &:hover {
    box-shadow: 0px 4px 40px #EAF1FD;
    background: #FFFFFF;
    color: #58595B;
  }
}

.cabinet-index-menu__text-val {
  display: block;
  color: rgba(88, 89, 91, 0.7);
  font-size: 14px;
  margin: 7px auto 0;
}

.cabinet-index-menu__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  margin: 0 auto 50px;
  fill: #D2DEF2;
}

.cabinet-index-menu__icon.fill-none {
  fill: none;
  stroke: #D2DEF2;
}

.fill-none {
  fill: none;
}

.menu-profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #F2F5FA;
  border-radius: 3px;
  padding: 7px 40px;
  margin: 0 0 30px;
  li {
    flex: auto;
  }

  .active {
    .menu-profile__links {
      color: #0050DB;

      .menu-profile__icon {
        fill: #0050DB;
      }
    }
  }
}

.menu-profile__links {
  display: flex;
  align-items: center;
  flex: auto;
  font-size: 16px;
  color: rgba(88, 89, 91, 0.7);

  &:hover {
    color: #0050DB;

    .menu-profile__icon {
      fill: #0050DB;
    }

    .menu-profile__icon.fill-none {
      stroke: #0050DB;
    }
  }
}

.menu-profile__icon {
  width: 34px;
  min-width: 34px;
  height: 34px;
  margin: 0 10px 0 0;
  display: inline-block;
  fill: #D2D6DD;
  transition: .3s ease;
}

.menu-profile__icon.fill-none {
  fill: none;
  stroke: #D2D6DD;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

.parameters-orders__svg {
  fill: #9BB8E9;
}

.links-light-blue {
  color: #9BB8E9;
  &:hover {
    color: #0050DB;
  }
}

//.profile-section
.profile-photo {
  width: 152px;
  height: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 49px 0 0;
}

.profile-section {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.form-profile {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form-profile__item {
  margin: 0 30px 0 0;
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  &:last-child {
    margin: 0;
  }

  .tov-btn-row__btn-2 {
    margin: 26px auto 0;
    width: 269px;
    font-size: 19px;
  }

  .contact-tab__btn {
    font-size: 19px;
    width: 220px;
    margin: 10px 0 0;
    border-radius: 5px;
  }
}

.profile-box__title {
  color: #58595B;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px;
}

.profile-box__wrap {
  background: #F2F5FA;
  border-radius: 3px;
  width: 100%;
  padding: 30px 50px 55px;
  label {
    width: 100%;
    margin: 0 0 20px;
    &:last-child {
      margin: 0;
    }
  }

  input {
    background: #FFFFFF;
    border-radius: 3px;
    height: 50px;
    border: none;
    width: 100%;
    padding: 0 25px;
    color: #58595B;
    font-size: 19px;
    font-weight: normal;
    &::placeholder {
      color: #58595B;
    }
  }
}

.form-input__title {
  font-weight: normal;
  display: block;
  color: rgba(88, 89, 91, 0.7);
  margin: 0 0 10px;
}

.table-responsive {
  width: 100%;
}

.table-orders {
  width: 100%;
  color: #58595B;
  font-size: 16px;
  .thead {
    background: #F2F5FA;
    border-radius: 3px;
    color: rgba(88, 89, 91, 0.7);
    font-weight: normal;

  }

  .tr {


    &:nth-child(even) {
      background: #F2F5FA;
      border-radius: 3px;
    }


  }

  .th, .td {
    padding: 13px 5px 13px;
    font-weight: normal;
    display: inline-block;
    &:first-child {
      width: 27%;
      padding: 13px 10px 13px 30px;
    }
    &:nth-child(2) {
      width: 17%;
    }
    &:nth-child(3) {
      width: 21%;
    }
    &:nth-child(4) {
      width: 17%;
    }
  }

  .tbody {
    .tr {
      display: none;

      &:nth-child(-n+10) {
        display: block;
      }
    }
  }
}

.link-view-check {
  color: #58595B;
  &:hover {
    color: #003DA6;
  }
}

.load-more {
  margin: 23px 95px 0 auto;
  color: #003DA6;
  display: block;
  width: fit-content;

  &:hover {
    color: #58595B;
  }
}

.links-blue {
  color: #003DA6
}

.history-orders__details {
  background: #FFFFFF;
  box-shadow: 0px 4px 40px #EAF1FD;
  border-radius: 3px;
  margin: 30px 0 0;
}

.history-orders__details-title {
  width: 100%;
  background: #9BB8E9;
  border-radius: 3px;
  padding: 10px 30px 11px;
  font-size: 19px;
  color: #fff;
}

.parameters-orders__title {
  width: 100%;
  background: #F2F5FA;
  border-radius: 3px;
  padding: 13px 30px;
  color: rgba(88, 89, 91, 0.7);
}

.parameters-orders__box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &:last-child {
    .parameters-orders__box-content {
      border: none;
    }
  }
}

.parameters-orders__icon {
  padding: 17px 29px 20px 30px;
  width: 209px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.parameters-orders__svg {
  width: 51px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parameters-orders__box-content {
  width: calc(100% - 209px);
  padding: 25px 10px 20px 0;
  border-bottom: 1px solid #EAEEF3;
  color: #58595B;

  a {
    margin: 9px 0 0;
    display: block;
  }
}

.parameters-orders__name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 6px;
  width: 100%;
  p {
    margin: 0;
    color: #58595B;
    font-weight: bold;
  }
}

.parameters-orders__status {
  margin: 0 0 0 9px;
  color: #FFFFFF;
  padding: 4px 13px 3px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 17px;
  border-radius: 3px;
}

.bg-light-pink {
  background: #FF9385;
  border-radius: 3px;
}

.history-orders__details-content {
  width: calc(100% - 450px);
  display: flex;
  flex-wrap: wrap;
}

.history-orders__details-item-wrapper {
  padding: 29px 25px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  .button-group {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

.btn-pay-order {
  width: 220px;
  margin: 0 0 20px;
  font-size: 19px;
  border-radius: 5px;
}


.canceling-btn {
  position: relative;
  padding: 0 20px 0 0;
  color: #58595B;
  font-size: 14px;
  &:before, &:after {
    content: '';
    position: absolute;
    background: #D2D6DD;
    width: 17px;
    height: 1px;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
  }
  &:before {
    transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
  }
  &:after {
    transform: rotate(45deg);
  }
}

.history-orders__details-line {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 26px;
  &:last-child {
    margin: 0;
  }
  span {
    display: block;
  }

  p {
    font-weight: bold;
    margin: 0;
  }

}

.name-customer {
  max-width: 160px;
  width: 100%;
  font-weight: bold;
}

.sum-orders {
  display: flex;
  align-items: center;
  span {
    display: inline-block;
    margin: 0 0 0 5px;
  }
}

.history-orders__details-item-wrapper .button-group-row {
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.button-group-row {
  .btn-pay-order {
    margin: 0 58px 0 0;
  }

  .links-orders-history-details {
    margin: 0 auto 0 0 ;
  }
}

.history-orders__details-box {
  &:last-child {
    margin-bottom: 0;
  }

  .history-orders__details-content {
    width: 100%;
  }

  .history-orders__details-line {
    flex-direction: column;
    align-items: flex-start;
  }

  .parameters-orders__name {
    margin: 0 0 13px;
    width: 100%;
    &:last-child {
      margin: 0;
    }
  }
}

.list-payment {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

.list-payment__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #58595B;
  width: 140px;
  margin: 0 30px 30px 0;
  &:last-child {
    margin: 0 0 30px;
  }
}

.list-payment__icon {
  width: 100%;
  border: 1px solid #EAEEF3;
  border-radius: 3px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 7px 14px;
  margin: 0 auto 10px;
}

.bg-grey {
  background: #D2D6DD;
}

.parameters-orders__status.bg-grey {
  color: rgba(88, 89, 91, 0.7);
}

.history-orders-page {
  margin: 0 0 60px;
  &:last-child {
    margin: 0;
  }
}

.history-orders__details-line-box {
  margin: 36px 0 0;
  width: 100%;


}

.bg-green {
  background: #96DE77;
}

.form-cabinet-callback {
  width: 100%;
  margin: 0 0 30px;
  border: 1px solid #EAEEF3;
  border-top: 5px solid #003DA6;
  border-radius: 3px;
  label {
    width: 100%;
    display: block;
    margin: 0;
    textarea {
      width: 100%;
      border: none;
      border-bottom: 1px solid #EAEEF3;
      border-radius: 0;
      background: #FFFFFF;
      height: 258px;
      padding: 10px;
      box-sizing: border-box;
    }

  }

  button {
    width: 220px;
    font-size: 19px;
  }
}

.form-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
}

.history-chating {

  .history-orders__details-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 -2px;
    position: relative;
    z-index: 1;
    .chating-val {
      font-size: 14px;
      margin: 0 57px 0 0;
    }
  }
}

.history-chating__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #58595B;
}

.history-chating__body {
  width: 100%;
  border: 1px solid #EAEEF3;
  border-radius: 3px;
  background: #fff;
}

.history-chating__box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 18px 25px 0 20px;

  &:last-child {
    .history-chating__content {
      border: none;
    }
  }
}

.history-chating__content {
  width: calc(100% - 80px);
  padding: 0 0 20px;
  border-bottom: 1px solid #EAEEF3;
}

.history-chating__content-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 16px;
}

.history-chating__content-title {
  font-weight: bold;
}

.history-chating__content-date {
  font-size: 14px;
}

.history-chating__content-text p {
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .cabinet-box {
    width: 270px;
    padding: 20px;
  }

  .cabinet-box__user-name {
    font-size: 16px;
  }

  .cabinet-index-menu__links {
    width: 130px;
    padding: 40px 20px 30px;
  }

  .cabinet-box__contacts {
    margin: 0 0 50px;
  }

  .cabinet-index-menu__icon {
    margin: 0 auto 30px;
  }

  .form-profile__item {
    width: 300px;
  }

  .profile-box__wrap {
    padding: 20px 30px;
    input {
      font-size: 16px;
    }
  }

  .load-more {
    margin: 23px 50px 0 auto;
  }

  .history-orders__details-content {
    width: calc(100% - 250px);
  }

  .parameters-orders__icon {
    width: 150px;
  }

  .parameters-orders__box-content {
    width: calc(100% - 150px);
  }
}

@media screen and (max-width: 1050px) {
  .cabinet-index-menu__links {
    font-size: 14px;
    width: 117px;
  }

  .cabinet-box__user-name {
    font-size: 14px;
  }

  .cabinet-box {
    width: 230px;
  }

  .menu-profile {
    padding: 7px 10px;
  }

  .menu-profile__links {
    font-size: 14px;
  }

  .profile-photo {
    width: 120px;
    height: 120px;
    margin: 0 20px 0 0;
  }

  .form-profile__item {
    width: 280px;
  }

  .load-more {
    margin: 23px 30px 0 auto;
    font-size: 14px;
  }

  .table-orders {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .btn-pay-order {
    font-size: 16px;
  }
}


@media screen and (max-width: 768px) {
  .cabinet-index-menu__links {
    width: 30%;
    margin: 0 0 30px;
  }

  .cabinet-box {
    width: 65%;
    margin: 0 0 30px;
  }

  .cabinet-box__contacts a {
    font-size: 14px;
  }

  .profile-photo {
    margin: 0 auto 30px;
  }

  .form-profile__item {
    width: 100%;
    margin: 0 0 30px;
  }

  .form-profile__item .contact-tab__btn, .form-profile__item .tov-btn-row__btn-2 {
    font-size: 16px;
  }

  .menu-profile__links {
    padding: 0 5px 5px;
  }

  .menu-profile__icon {
    width: 25px;
    height: 25px;
  }

  .menu-profile li {
    width: 50%;
  }

  .form-input__title {
    font-size: 14px;
  }

  .table-orders {
    min-width: 700px;
  }

  .table-orders .th:nth-child(2), .table-orders .td:nth-child(2) {
    width: 13%;
  }

  .table-orders .th:first-child, .table-orders .td:first-child {
    width: 30%;
  }

  .load-more {
    margin-right: 0;
  }

  .history-orders__details-content {
    width: 100%;
    margin: 0 0 20px;
  }

  .history-orders__details-item-wrapper {
    padding: 20px;
  }

  .history-orders__details-item-wrapper .button-group {
    margin: 0 auto;
  }

  .parameters-orders__icon {
    padding: 20px;
    width: 100px;
  }

  .parameters-orders__box-content {
    width: 100%;
    padding: 10px 20px;
  }

  .parameters-orders__box {
    flex-direction: column;
    align-items: center;
  }
  .button-group-row .btn-pay-order {
    margin: 0 20px 0 0;
  }

  .form-cabinet-callback label textarea {
    height: 200px;
  }

  .history-chating .history-orders__details-title .chating-val {
    margin: 0;
  }
}

@media screen and (max-width: 575px) {
  .parameters-orders__name {
    flex-direction: column;
    align-items: flex-start;
  }

  .parameters-orders__status {
    margin: 5px auto 0;
  }

  .name-customer {
    max-width: none;
    margin: 0 0 10px;
  }

  .history-orders__details-title {
    font-size: 16px;
    padding: 10px 20px;
  }

  .parameters-orders__title {
    font-size: 16px;
    padding: 10px 20px;
  }

  .history-orders__details-item-wrapper .button-group {
    flex-direction: column;
  }

  .button-group-row .btn-pay-order {
    margin: 10px auto;
  }

  .list-payment__links {
    margin-right: 0;
  }

  .list-payment {
    justify-content: space-around;
  }

}


@media screen and (max-width: 480px) {
  .cabinet-index-menu__icon {
    width: 48px;
    height: 48px;
    margin: 0 auto 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .cabinet-box__contacts {
    margin: 0 0 40px;
  }

  .history-chating__content {
    width: 100%;
    margin: 20px 0 0;
  }

  .history-chating__avatar {
    margin: 0 auto;
  }

  .history-chating__content-line {
    flex-direction: column;
  }

  .history-chating__content-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .cabinet-box {
    width: 100%;
  }

  .cabinet-index-menu__links {
    width: 48%;
    padding: 30px 20px;
  }

  .menu-profile__links {
    width: 100%;
  }

  .history-orders__details-line {
    font-size: 14px;
  }
}
