html {
    margin: 0 auto; }

.form-row select,
.select-custom select{
    display: none;
} 

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none; }

img, button {
    border: none; }

header, footer, article, section, nav, figure, aside {
    display: block; }

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin-top: 0; }

textarea, input {
    font-family: $main-font;
}
input, textarea, select {
    -webkit-appearance: none;
}

input:invalid,
input:required{
    box-shadow:none;
}

textarea {
    resize: vertical;
    //overflow: hidden;
}

input::-ms-clear {
    display: none;
}
input[type="submit"], button {
    cursor: pointer; }

img {
    max-width: 100%; }

ul {
    list-style: none; }

a {
    transition: all 0.15s;
    color: #000;
    outline: none;
    font-family: $main-font;
    text-decoration: none;
    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
        color: #0050DB;
    }
}


body {
    background: #fff;
    font-family: $main-font;
    padding-right: 0 !important;
    width: 100%;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #58595B;
}


.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y:hover,
.ps-container > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x:hover {
    background-color: #ececec !important;
    -webkit-border-radius: 0;
    border-radius: 0; }

.ps-container > .ps-scrollbar-y-rail {
    opacity: 0.8; }

.ps-container > .ps-scrollbar-x-rail {
    opacity: 0.8; }

// Селект 2
.select2-container .select2-selection--single {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-family: $main-font;
    height: 28px;
    user-select: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #645241;
    line-height: 40px;
    font-size: 14px;
    padding-right: 40px;
    padding-left: 17px;
    width: 100%;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.select2.select2-container {
    width: 100% !important;
    display: block; }

.select2-search--dropdown {
    display: block;
    padding: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden; }

.select2-container--open .select2-dropdown--below {
    -webkit-border-radius: 0;
    border-radius: 0; }

.select2-container--default .select2-results > .select2-results__options {
    -webkit-box-shadow: 1px 0 7px rgba(77, 77, 77, 0.2);
    box-shadow: 1px 0 7px rgba(77, 77, 77, 0.2); }

.select2-results__option {
    padding: 4px 20px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    color: #303030; }



.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: block; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: -webkit-calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    top: 1px;
    right: 1px;
    width: 40px;
    background: #fff; }

.select2-container--open .select2-dropdown--above {
    -webkit-border-radius: 0;
    border-radius: 0; }



.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #d0cac4;
    -webkit-border-radius: 0;
    border-radius: 0;
    outline: 0 !important; }

.select2-container .select2-selection--single {
    height: 42px;
    width: 100%; }

.select2-container--default .select2-selection--multiple {
    border: 1px solid #c2c2c2;
    -webkit-border-radius: 0;
    border-radius: 0; }

.select2-container .select2-selection--multiple {
    height: 44px;
    position: relative; }

.select2-container .select2-selection--multiple:after {
    width: 10px;
    height: 2px;
    content: '';
    background: #a9a8a9;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 22px;
    top: 50%;
    margin-top: -1px; }

.select2-container .select2-selection--multiple:before {
    width: 10px;
    height: 2px;
    content: '';
    background: #a9a8a9;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -1px; }

.select2-container--open .select2-selection--multiple:before {
    width: 10px;
    height: 2px;
    content: '';
    background: #5b5a5b;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -1px; }

.select2-container--open .select2-selection--multiple:after {
    width: 10px;
    height: 2px;
    content: '';
    background: #5b5a5b;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 22px;
    top: 50%;
    margin-top: -1px; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 40px 0 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }

.select2-container--open .select2-dropdown--above {
    -webkit-border-radius: 0;
    border-radius: 0; }

.select2-dropdown {
    z-index: 1035;
    border: 1px solid #d0cac4; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #fff;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    cursor: default;
    float: left;
    margin-right: 0;
    margin-top: 0;
    padding: 0; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    display: none; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    line-height: 42px;
    color: #423232;
    font-size: 15px; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #c2c2c2 1px;
    outline: 0; }

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    margin-top: 0;
    font-size: 15px;
    min-width: 165px; }

.select2-container--open .select2-dropdown--below {
    border-radius: 0; }

.select2-results__option {
    padding: 5px 20px;
    user-select: none;
    font-size: 16px;
    //text-align: center;
    width: 100%;
    color: #6A6E79;
    font-weight: 400;}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fff;
    color: #303030;
    border-radius: 5px;
    font-weight: 500; }

.select2-search__field {
    font-family: $main-font;
}


.select2-container.select2-container--default.select2-container--open{
    z-index: 1056 !important;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 1px 0 7px rgba(77, 77, 77, 0.2); }

// Селекс 2


// Чекбоксы
.check{
    position: relative;
    padding-left: 30px;
    margin-bottom: 13px;
}
.check label {
    cursor: pointer;
    padding-left: 0 !important;
    margin-bottom: 0;


    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(88, 89, 91, 0.7);

    a{

        text-decoration: none;
        color: #003DA6;
        &:hover{
            text-decoration: none;
            color: #9BB8E9;
        }
    }
}

.check input[type="checkbox"],
.check input[type="radio"] {
    opacity: 0;
    position: absolute;
    left: 6px;
    top: 9px;
    z-index: -1;
    width: 34px;
    height: 34px;
}

.check input[type="checkbox"]:checked + label:before {
    background-image: url(../img/check.svg);
    background-size: 16px auto;
}
.check input[type="checkbox"] + label:before {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    cursor: pointer;
    border: 1px solid #EAEEF3;
    box-sizing: border-box;
    border-radius: 2px;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px; }

.check input[type="checkbox"]:checked + label::after {

}



// Радиокнопка
.check input[type="radio"] + label:before {
    //background-image: url("../img/radio.png");
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center center;
    content: "";
    cursor: pointer;
    height: 20px;
    margin: 0 0 0 0;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #DBDEE2;
    position: absolute;
    left: 0;
    width: 20px;
}

.check input[type="radio"] + label:before {

}

.check input[type="radio"]:checked + label:before {
    background-image: url("../img/radio.svg");
}
.check input[type="radio"]:checked + label:after {

}
.check input[type="radio"]:checked + label{
    color: #2D3241;
}

// Чекбоксы


.ps-container:hover > .ps-scrollbar-y-rail{
    background: transparent !important;
}

@-webkit-keyframes autofill {
    to {
        color: #000;
        background: #fff; } }

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both; }



.select-custom{
    //display: inline-flex;
    .select2-container--default .select2-selection--single .select2-selection__rendered {

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #58595B;
        line-height: 48px;
        padding-right: 30px;
        padding-left: 20px;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
    }
    .select2-container .select2-selection--single {
        height: 50px;
        width: 100%;

    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        width: 30px;
        border-radius: 30px;
        height: calc(100% - 5px);
        right: 7px;
        top: 1px;
        b{
            border-color: #D2DEF2 transparent transparent transparent;
            border-style: solid;
            border-width: 11px 5px 0 5px;
            height: 0;
            left: 50%;
            margin-left: -4px;
            margin-top: -2px;
            position: absolute;
            top: 50%;
            width: 0;
        }
        &:hover{
            b{
                border-color: #0050DB transparent transparent transparent;
            }
        }
    }

    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent #D2DEF2 transparent;
        border-width: 0 5px 11px 5px;
    }


    .select2-container--default .select2-selection--single {
        border-radius: 3px 0px 0px 3px;
        border: 1px solid #f3f3f3;
    }
    .select2-container--open{
        &.select2-container--default .select2-selection--single{
            border-color: #f3f3f3;
        }
    }
}
.select2-results__options {
    margin: 0 0 0 !important;
    box-shadow: none !important;
}
.select2-dropdown{
    border-color: #f3f3f3;
    border-radius: 0 !important;
}

// content
.medium{
    font-weight: 500 !important;
}
.semibold{
    font-weight: 600 !important;
}
.bold{
    font-weight: 700 !important;
}
.font-black{
    font-weight: 900 !important;
}

.min-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1168px;
    position: relative;
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
}

.blue-txt{
    color: #003DA6;
}

.h1{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #9BB8E9;
    margin-top: 0;
    margin-bottom: 30px;
}
.h2{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    //letter-spacing: 1.4px;

    color: #9BB8E9;
}

p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #58595B;
}

.rubl{
    font-family: $rubl-font;
}






@media screen and (max-width: 1300px){
    .min-container {
        max-width: 924px;
    }
    .container {
        max-width: 1024px;
    }



}
@media screen and (max-width: 1050px){

    .min-container {
        max-width: 744px;
    }
    .container {
        max-width: 744px;
    }
}

@media screen and (max-width: 768px){
    .min-container {
        max-width: 480px;
    }
    .container {
        max-width: 480px;
    }


}

@media screen and (max-width: 550px){
    .h1{
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .h2{
        font-size: 24px;
        line-height: 26px;
    }
    .min-container {
        max-width: 100%;
        padding: 0 15px;
    }
    .container {
        max-width: 100%;
        padding: 0 15px;
    }


}

@media screen and (max-width: 500px){


}

@media screen and (max-width: 440px){


}

@media screen and (max-width: 430px) {


}

@media screen and (max-width: 400px){



}

@media screen and (max-width: 320px){


}

.thanks-modal{
    width: 600px;
    padding: 50px 50px 40px;
    background: #fff;
    margin: 60px auto;
    border-radius: 9px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    .thanks-modal__title{
        font-size: 24px;
        color: #282828;
        font-weight: 700;
        text-align: center;
        margin-bottom: 3px;
    }
    .thanks-modal__text{
        text-align: center;
    }
    .thanks-modal__ico{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }
    .red-btn{
        width: 196px;
        margin: 33px auto 0;
        display: flex;
    }
    .thanks-modal__btn{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        .red-border-btn{
            width: 100%;
            margin-right: 20px;
            height: 48px;
        }
        .red-btn{
            width: 100%;
            margin-top: 0;
        }
    }
}