footer.footer
    .b-footer
        .min-container
            .b-footer-top
                .b-footer-contact
                    .b-footer-contact__item
                        .b-footer-contact__ico: img(src='img/phone.svg' alt='')
                        a.b-footer-contact__title(href='tel:+74951202498') +7 (495)120-24-98
                        .b-footer-contact__desc Многоканальный номер
                    .b-footer-contact__item
                        .b-footer-contact__ico: img(src='img/people.svg' alt='')
                        .b-footer-contact__title Покупателям
                        .b-footer-contact__desc
                            a.b-footer-contact__desc__link(href='mailto:info@moreani.ru') info@moreani.ru
                            a.b-footer-contact__desc__link(href='tel:+74951202498') +7 (495)120-24-98
                    .b-footer-contact__item
                        .b-footer-contact__ico: img(src='img/located.svg' alt='')
                        .b-footer-contact__title Адрес главного офиса
                        .b-footer-contact__desc 125438, г. Москва, ул. Войкова, д. 4, стр. 1
                    .b-footer-contact__item
                        .b-footer-contact__ico: img(src='img/clock.svg' alt='')
                        .b-footer-contact__title Время работы
                        .b-footer-contact__desc
                            span Пн–Пт: с 08:00 до 20:00
                            span Сб–Вс: с 09:00 до 20:00

            .b-footer-middle
                .b-footer-middle__col.b-footer-middle__col--1
                    .b-footer-middle__logo: img(src='img/logo.svg' alt='')
                    nav.ft-nav
                        a.ft-nav__item(href='#') О компании
                        a.ft-nav__item(href='#') Доставка
                        a.ft-nav__item(href='#') Оплата
                        a.ft-nav__item(href='#') Возвраты
                        a.ft-nav__item(href='#') Контакты
                .b-footer-middle__col.b-footer-middle__col--2
                    .b-footer-middle__title Мы принимаем к оплате
                    .list-bank
                        span.list-bank__item: img(src='img/visa.svg' alt='')
                        span.list-bank__item: img(src='img/mastercard.svg' alt='')
                        span.list-bank__item: img(src='img/mir.svg' alt='')

                .b-footer-middle__col.b-footer-middle__col--3
                    .b-footer-middle__title Мы в соцсетях
                    .network
                        a.network__item.fb(href='#')
                            +icon('fb','fb__ico network__ico')
                        a.network__item.inst(href='#')
                            +icon('inst','inst__ico network__ico')
                        a.network__item.whatsap(href='#')
                            +icon('whatsap','whatsap__ico network__ico')

    .b-footer-bottom
        .min-container
            .b-footer-bottom__politic
                a.b-footer-bottom__politic__item(href='#') Пользовательское соглашение
                a.b-footer-bottom__politic__item(href='#') Политика конфиденциальности