doctype html
html(lang='ru')
    head
        block title
            title Default title
        meta(name="description", content='')
        meta(name="author" content="Снисаренко Игорь")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="canonical" href="#")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon.ico")
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='css/responsive.css')

    body.loading
        block content